body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.accent {
    color: #4d5ae5;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.33333;
    letter-spacing: 0.03em;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.11111;
}
