.header {
    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    align-items: center;
}
.nav {
    margin-left: 76px;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-link {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.nav-link:active {
    text-decoration: underline;
}

.address {
    margin-left: auto;
}
.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    padding: 24px 0;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
