.nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.nav-link:active {
    text-decoration: underline;
}

.address-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
